#####################################################################
#	Macros
#####################################################################


# Conditional G28
[gcode_macro CG28]
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28
  {% endif %}

[gcode_macro RESET_EXTRUDER]
gcode:
    G92 E0 ; reset extruder  

[gcode_macro PURGE_LINE]
gcode:
    white
    { action_respond_info("Purging...") }
    M117 Prime Line
    G92 E0;
    G90
    G0 X90 Y8 F6000                     ; Go to X3 Y3
    G1 Z0.2 F200                        ; Set nozzle height
    G91
    G1 X120 E30 F1200;                  ; intro line
    G1 Y1                               ; move Y 1
    G1 X-120 E30 F1200;                 ; intro line
    G92 E0.0                            ; reset extrusion distance
    G1 Z1 F5000                         ; Lift Z   

[gcode_macro PURGE_LINE_KYLE]
#   A purge line on the left of the bed to prime the extruder
gcode:
    white
    M117 Prime Line
    G92 E0                         ; zero/reset extruder
    G90
    G1 X2.2 Y20 Z0.3 F18000        ; move to start position
    G1 E+15 F150              ;    extrude to put the pressure (-20 from purge macro)
    G92 E0

    G1 X2.2 Y200 Z0.25 F1500 E10    ; extrude the first line
    G1 Z2.0 F3000              ; move nozzle up and retract tiny bit
    G92 E0 

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(205)|float %}
    # Start bed heating
    M140 S{BED_TEMP}
    #M140 S{EXTRUDER_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    #SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Move the nozzle near the bed
    G1  X0.1 Y20 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    #M190 S{EXTRUDER_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; draw 1st line
    G1 X0.4 Y200.0 Z0.3 F5000.0 ; move to side a little
    G1 X0.4 Y20 Z0.3 F1500.0 E30 ; draw 2nd line
    G92 E0

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X150 Y150 Z30 F3600

[gcode_macro END_PRINT]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set FILAMENT = params.FILAMENT|default(PLA) %}  
    
    #   Check end position to determine safe directions to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-3.0 F3600                 ; retract filament
    G91                            ; relative positioning
    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing

    TURN_OFF_HEATERS
    M107                             ; turn off fan
    G1 Z2 F3000                      ; move nozzle up 2mm
    G90                              ; absolute positioning
    G0 X{max_x / 2} Y{max_y} F3600   ; park nozzle at rear
    BED_MESH_CLEAR

    {% if FILAMENT == 'ABS' or params.FILAMENT == 'ASA' %}
    NEVERMORE_END_PRINT
    {% endif %}

    M117 Print Complete
    G92 E0
    
    
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  TURN_OFF_HEATERS
  CLEAR_PAUSE
  SDCARD_RESET_FILE
  PRINT_END
  BASE_CANCEL_PRINT

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{E} F2100
  G1 Z{z_safe} F900
  G90
  G1 X{x_park} Y{y_park} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
  G91
  G1 E{E} F2100
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME

[gcode_macro Park_Toolhead]
gcode:
   G90
   G1 X175 Y175 F18000  

[gcode_macro ZUP]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=0.01 MOVE=1

[gcode_macro ZDOWN]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=-0.01 MOVE=1

[gcode_macro PREHEAT_ABS]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=240
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=105

[gcode_macro PREHEAT_PLA]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=205
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=60    
    
[gcode_macro DO_PRESSURE_ADVANCE]
gcode:
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=1 ACCEL=500
    TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.005          

#[gcode_macro UNLOAD_FILAMENT]
#gcode:
#    SAVE_GCODE_STATE NAME=UNLOADFILAMENT
#    M83                                     ; set extruder to relative
#    G1 E1 F300                              ; (CAUSING CLOGS AT 10mm?) extrude a little to soften tip 
#    G1 E-100 F1800                          ; retract filament completely
#    RESTORE_GCODE_STATE NAME=UNLOADFILAMENT 

[gcode_macro UNLOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT
    M83             ; Relative extrusion
    G1 E-5 F300     ; Retract 5mm slowly
    G1 E4.5 F1200   ; Dip to remove string
    G1 E-100 F1200   ; Fast full retract
    RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT

[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=LOAD_FILAMENT
    M83             ; Relative extrusion
    G1 E100 F300    ; Fast full extrude
    RESTORE_GCODE_STATE NAME=LOAD_FILAMENT  

[gcode_macro M900]
description: Marlin to pressure advance compat g-code
gcode:
  {% set advance = params.K|default(0)|int %}
  SET_PRESSURE_ADVANCE ADVANCE={advance}